<div align="center">{+new Link().toFile("index.html").withText("Index")+}</div>
<hr />
<h2>Namespaces</h2>
<ul class="classList">
  <for each="thisClass" in="data">
  <li>{!
    if (thisClass.isNamespace) {
      output += new Link().toClass(thisClass.alias);
    }
  !}</li>
  </for>
</ul>
<h2>Types</h2>
<ul class="classList">
  <for each="thisClass" in="data">
  <li>{!
    if (!thisClass.isNamespace) {
      output += new Link().toClass(thisClass.alias);
    }
  !}</li>
  </for>
</ul>
<hr />